.App {
  text-align: center;
}

nav {
  background: #fff;
  padding: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 10vmin;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
